SUPABASE_URL=https://dqalebkkcsglkzvfjolo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxYWxlYmtrY3NnbGt6dmZqb2xvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMyNjQxODUsImV4cCI6MjA2ODg0MDE4NX0.8gZklYcnmtb5FpsApeNSuw2drAylDUufgrst522sPsI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxYWxlYmtrY3NnbGt6dmZqb2xvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzI2NDE4NSwiZXhwIjoyMDY4ODQwMTg1fQ.85rF1BMv5hdQovTYq8imTxFica3HqQfki5-Z-h7KLm8